  <h4> <%= @article.title %> </h4>
  <p>
    <%= @article.text %>
  </p>
<h3> Комментарии </h3>
<% @article.comments.each do |comment| %>

<h4>
  <%= comment.author %>
</h4>
<p>
  <%= comment.body %>
<hr>
<% end %>
<p>
 <%= form_for ([@article, @article.comments.build]) do |f| %>
</p>
<p>
  <%= f.label :body %> <br>
  <%= f.text_area :body %>
</p>

<p>
  <%= f.submit %>

</p>

<% end %>
